<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HowToSpeak_DesktopClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="BASE_URL_SERVER" value="http://127.0.0.1:5000"/>
  </appSettings>
  <userSettings>
    <HowToSpeak_DesktopClient.Properties.Settings>
      <setting name="Username" serializeAs="String">
        <value />
      </setting>
    </HowToSpeak_DesktopClient.Properties.Settings>
  </userSettings>
</configuration>
